@page "/characters"

<h3>My Characters</h3>

<EjsDashboardLayout>
	<DashboardLayoutPanels>
		<DashboardLayoutPanel>
			<HeaderTemplate>
				<div>Header</div>
			</HeaderTemplate>
			<ContentTemplate>
				<div>Content</div>
			</ContentTemplate>
		</DashboardLayoutPanel>
	</DashboardLayoutPanels>
</EjsDashboardLayout>

@code {

}
